@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #D7D7D7;
  --color-yellow: #FFF130;
  --color-green: #17E852;
  --color-orange: #FE6202;
  --color-red: #FC3737;
  --color-blue: #0000FF;
}

h1, h2, h3, h4 {
  font-weight: 500 !important;
}

html {
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}
